.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  visibility: none;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.modal__opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__container {
  background-color: white;
  padding: 36px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
  position: relative;
  max-width: calc(430px - 72px);
  width: 100%;
}

.modal__container-image {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__close {
  background-image: url("../images/Close-Icon\(1\).svg");
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  text-align: left;
  margin: 0 0 54px 0;
}

.modal__container-form {
  display: flex;
  flex-direction: column;
}

.modal__container-input {
  margin-bottom: 30px;
  height: 28px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  border-top: 0;
  border-right: 0;
  border-left: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
}

.modal__input_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
  margin: 0;
}

.modal__error {
  color: red;
  font-family: "Inter", sans-serif;
  line-height: 14.52px;
  font-size: 12px;
  font-weight: 400;
  visibility: none;
}

.modal__error_visible {
  visibility: visible;
  margin: 5px 0 13px 0;
}

.modal__button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-top: 18px;
  cursor: pointer;
}

.modal__button_disabled {
  border: 1px solid rgb(0, 0, 0);
  color: black;
  opacity: 0.5;
  background-color: white;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__image-description {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 10px 0;
}

.modal__image {
  max-height: 70vh;
}

@media screen and (max-width: 600px) {
  .modal__container {
    padding: 25px 22px;
    max-width: calc(282px - 44px);
    width: 100%;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    right: 0;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }

  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__image {
    max-width: 240px;
  }
}
