.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-color: rgb(84, 84, 84, 0.7);
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 600px) {
  .header {
    margin: 0 auto;
  }
  .header__logo {
    width: 126px;
    margin: 28px 0 32px 27px;
  }
}
